#navbar nav.navbar.fixed-top.navbar-light {
background-color: $peach;
opacity: 0.8;
}

.navbar-light .navbar-brand {
font-size: 3.2rem;
color: $dark_green;
}

img.d-inline-block.align-top {
  opacity: 1.0 !important;
}

body, html {
  font-family: 'Calibri', serif;
  height: 100%;
  background: $light_peach;
  margin:0;
  padding:0;
}

.nav item {
  margin-top: 60;
}

.container-fluid {
  margin-top: 80px;
}

div.row.bg-title{
  width:100%;
}

h4.page-title {
  font-weight: bold;
  font-size: 3.8em;
  color:#087E8B;
}

h3.page-title {
  font-size: 3.1em;
  color: $dark_green;
  padding:2px;
}

h3.box-title {
  font-size: 2.7em;
  color: $dark_grey;
  padding:2px;
}

.white-box {
  margin-top: 20px;
}

.wrapper {
  display: flex;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: $dark_grey;
  color: $yellow;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.7em;
  color: $light_grey;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar ul.components {
  margin-top: 60px;
  padding: 20px 0;
  align: center;
}

#sidebar ul p {
  color: $yellow;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 2em;
  display: block;
}
#sidebar ul li a:hover {
  color: $yellow;
  background: $dark_green;
}

#sidebar ul li.active > a {
  color: $yellow;
  background: $dark_green;
  }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $dark_green;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:25px;
  color:$yellow;
  font-size: 1.6em;
  background: $dark_green;
}

#page-wrapper{
  padding-bottom:25px;
}

#container {
   min-height:100%;
   position:relative;
}
