<h1>Your Mini-Market-C Dashboard</h1>
<p>Welcome to Mini-Market-C!</p>

<% if flash[:success] %>
  <div class='alert alert-success'><%= flash[:success] %></div>
<% end %>

<%= link_to 'Click here to log out.', merchants_logout_path %>
